body{
    padding: 0;
    margin: 0;
    max-width: 100%;
    background-image: url(../img/images.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

@font-face {
	font-family: raleway-c;
	src: url(../fonts/raleway-regular.woff2);
}
@font-face {
	font-family: outfit-c;
	src: url(../fonts/outfit-regular.woff2);
}

.header-io{
    color: white;
    font-family: outfit-c;
    min-width: 100vw;
    height: 48vw;
    position: relative;
}

.header-line{
    display: flex;
    padding: 2vw 3vw;
}

.header-line-main{
    column-gap: 8vw;
    display: flex;
    align-items: center;
    margin-left: 35vw;
}

.header-line-items{
    font-size: 1.25vw;
    font-weight: 700;
    padding: 0;
    text-wrap: nowrap;
    text-decoration: none;
    color: white;
}

.header-line-items.is-current{
    padding: 1vw  4vw 1vw 0vw;
    border-right: 0.15vw solid white;
    
}

.header-line-items:hover{
    color: gray;
    transition-duration: 0.3s;
}

.header-btn{
    color: black;
    height:3.25vw;
    width: 10vw;
    margin-left: 3.6vw;
    background-color: #A01515;
    font-size: 1vw;
    border-radius:  2.5vw;
    border: none;
    margin-top: 2.7vw; 
    font-family: outfit-c;
}

.header-btn:hover{
    background-color: #5C000F ;
    transition-duration: 0.3s;
}


.main-icon{
    position: absolute;
    top: 14.5vw;
    left: 8vw;   
}

.main-text{
    position: absolute;
    top: 25vw;
    left: 24vw;
    font-size: 2.5vw;
    font-family: raleway-c;
    color: white;
    text-align: center;
    padding-right: 5vw
}

.main-io{
    min-width: 100vw;
    height: 240vw;
    color: white;
}

.plot{
    margin-left: 1.25vw;
    display: flex;
    justify-content: space-around;
    padding-top: 10vw;
    align-items: center;
    column-gap: 7vw;
}

.plot-text{
    font-size: 2vw;
    font-weight: 700;
    text-align: center;
    font-family: outfit-c;
}

.plot-tittle{
    margin-bottom: 1.5vw;
    color:#5C000F;
    font-size: 3vw;
    font-weight: 700;
    font-family: "Bebas Neue", sans-serif;
}

.plot-img{
    height:  20vw;
    margin-right: 2.25vw;
}

.carts{
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 18.5vw;
}

.cart{
    width: 41.5vw;
    height: 50vw;
    background-image: url(../img/image\ 12.png);
    background-size: cover;
    background-repeat: no-repeat;
}


.cart-second{
    width: 41.5vw;
    height: 50vw;
    background-image: url(../img/image\ 12.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.cart-img{
    padding: 1vw 7vw 1vw 7vw;
    width: 28.5vw;
    height:  27.5vw;
}

.cart-img-second{
    padding: 3.25vw 4.5vw 1.75vw 4.5vw;
    height:22vw;
    width: 32.5vw;
}

.cart-text{
    color: white;
    font-size: 1.5vw;
    font-weight: 700;
    text-align: center;
    padding: 0vw 0.5vw;
    font-family: outfit-c;
}



.cart-text span{
    color:#5C000F;
    font-size: 2.5vw;
    font-family: "Bebas Neue", sans-serif;
    padding-right: 0.5vw;
}




.am-text{
    color: white;
    font-size: 1.75vw;
    font-weight: 700;
    text-align: center;
    padding: 0.5vw 7.5vw;
    word-spacing: 0.25vw;
    font-family: outfit-c;
}

.am-text span{
    color:#5C000F;
    font-size: 2.5vw;
    font-family: "Bebas Neue", sans-serif;
}

.slide-content{
    width: 70vw;
    height: 37.5vw;
}
.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.25vw;
    margin-top: 18vw;
}

.quote-text{
    color: white;
    font-size: 3vw;
    font-weight: 700;
    text-align: center;
    font-family: raleway-c;

}

.quote-am{
    font-size: 3vw;
    font-weight: 700;
    color:#5C000F;
    position: absolute;
    margin-top: 6vw;
    font-family: "Bebas Neue", sans-serif;
}

.quote-img{
    background-image: url(../img/2551-200\ 1.png);
    background-size: cover;
    width: 22vw;
    height: 22vw;

}

.quote-img:hover{
    background-image: url(../img/graduation-cap-icon-transparent-png-svg-vector-15\ 1.png);
    background-size: cover;
    transition-duration: 1s;
    
}

.footer-io{
    height:12.5vw;
    background-color: #212020;
    display: flex;
    flex-direction: column;
    gap: 2.25vw;
    align-items: center;
    padding-top:1.5vw;
    padding-bottom: 3.25vw;
    position: relative;

}

.img-footer-cont{
    display: flex;
    gap:  6.5vw;
}

.footer-text{
    color: white;
    font-size: 0.9vw;
    font-family: outfit-c;
}

.img-footer-1{
    width: 23vw;
    height: 10.5vw;
}


.header-line-icon{
    width: 9vw;

}

.main-icon{
    width: 28.5vw;

}



.bag-fix-2{
    position: absolute;
    width: 100vw;
    height: 2.7vw;
    bottom: 15vw;
    background-color: #212020;
    z-index: -1;
}

.slider .slide {
	display: flex;
	align-items: center;
	justify-content: center;
}

.am{
    padding-top: 12vw;
}

.slider-pagination{
    background-color: red;
}

.swiper-button-next{
    margin-right: 1.5vw;
    width: 2.75vw;
    height: 2.75vw;
}

.swiper-button-prev{
    margin-left: 0.5vw;
    width: 2.75vw;
    height: 2.75vw;
}

.am-img{
    width: 72vw;
    height: 37vw;
}